body{
background-color: lightblue;
}

h2{
background-color:red;
}


h3{
    background-color:yellow;
    color: tomato;

}

h4{

border-style: solid;
width: 50%;
}


ol{
color : green;
}

ul{
border-style: solid;
color : red;
}